.cabecalho-logomarca {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background: url("../img/logo-branca.jpg") no-repeat center;
    background-size: 100% auto; */
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50%;
    /* width: auto; */
    height: 100%;
    position: absolute;
}

.cabecalho-logomarca-titulo {
    display: none;
}

.barra-de-menu {
    width: 70px;
    height: 45px;
    padding: 5px;
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    z-index: 999;
}

.container {
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.linhas {
    width: 100%;
    height: 5px;
    background-color: var(--rosa-escuro); 
    transition: .3s;
    transform: rotate(180deg);
    position: relative;
}

/* TESTE */

.linha1-girar {
    width: 70%;
    transition: .2s;
    transform: rotate(45deg);
    position: absolute;
}

.linha2-girar {
    transition: .2s;
    display: none;
}

.linha3-girar {
    width: 70%;
    transition: .2s;
    transform: rotate(-45deg);
    position: absolute;
}

/* ________________________________ */
.cabecalho-menu {
    overflow: hidden;
    transition: .3s;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 0vh;
    border-bottom: 1px solid var(--roxo);
    opacity: 0;
}

.abrir-menu {
    transition: .3s;
    height: 80vh;
    opacity: 1;
    left: 0;
}

.menu-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-principal, .menu-lista {
    width: 100%;
    height: 100%;
    background-color: var(--branco);
}

.menu-lista {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.menu-itens img {
    width: 150px;
    height: 150px;
}

.menu-itens {
    transition: .3s;
    background: var(--degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}

.menu-itens:hover {
    transition: .3s;
    font-size: 1.5em;
}


/* ----- RESPONSIVIDADE ----- */
@media screen and (min-width: 1500px) {
    .cabecalho-logomarca {
        width: auto;
        height: 80px;
    }
    .logo {
        justify-content: space-around;
        text-decoration: none;
    }

    .logo img {
        /* display: none; */
        width: auto;
        height: 100%;
        position: relative;
    }

    .cabecalho-logomarca-titulo {
        display: block;
        color: var(--preto);
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 0px 5px var(--roxo);
    }

    .barra-de-menu {
        display: none;
    }

    .cabecalho-menu {
        overflow: auto;
        opacity: 1;
        width: 40%;
        height: auto;
        border: none;
        position: relative;
        top: 0;
        left: 0;
    }

    .menu-principal {
        width: 95%;
        height: 80px;
    }
    .menu-lista {
        width: 90%;
        height: 100%;
        margin: 0;
        flex-direction: row;
    }

    .menu-itens img {
        display: none;
    }

    .menu-itens {
        font-size: 1.5em;
    }

    .menu-itens:hover {
        font-size: 1.2em;
    }
}