.servicos {
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--rosa-escuro);
}

.servicos h1 {
    margin: 20px 0 30px 0;
    color: var(--rosa-escuro);
    font-size: 2.5em;
    text-shadow: 1px 0px 2px var(--preto);
}

.cartoes {
    width: 18rem;
    height: auto;
    margin: 10px 0;
    border: 5px double var(--rosa-escuro);
    border-radius: 20px;
    padding: 10px 0;
    color: var(--rosa-escuro);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 0px 20px var(--roxo);
}

.cartoes:hover {
    transition: .5s;
    transform: rotateY(360deg);
}

.cartoes h5 {
    margin: 10px 0 0 0;
}

.cartoes h6 {
    text-align: center;
    margin: 30px 0;
}

.cartoes p {
    margin: 10px 0;
}
.proposta-icones {
    border: 5px double;
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
}

/* ----- RESPOSIVIDADE ----- */
@media screen and (min-width: 950px) {

    .servicos h1 {
        margin: 20px 0 30px 0;
        color: var(--rosa-escuro);
        font-size: 5em;
        text-shadow: 1px 0px 2px var(--preto);
    }
    
    .cards {
        /* border: solid red; */
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows: 350px 400px; */
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "marketing fotografia logomarcas"
            "marketing programacao programacao"
        ;
        justify-items: center;
    }

    .marketing {
        width: 90%;
        grid-area: marketing;
    }
    .programacao {
        width: 90%;
        grid-area: programacao;
    }
    .logomarcas {
        width: 90%;
        grid-area: logomarcas;
    }
    .fotografia {
        width: 90%;
        grid-area: fotografia;
    }
    .cartoes {
        min-width: 18rem;
        height: auto;
    }
    
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cartoes p {
        margin: 10px 0;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1500px) {
    .cards {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .cartoes {
        overflow: auto;
        max-width: 20rem;
        height: 90%;
    }
}