@import url("../css/cabecalho.css");
/* @import url("../css/inicio.css"); */
@import url("../css/servicos.css");
@import url("../css/sobre.css");
@import url("../css/propostas.css");

:root {
    --branco: #fff;
    --preto: #000000;
    --laranja: #F27405;
    --roxo: #6241D9;
    --rosa-claro: #F24171;
    --rosa-escuro:#F21DB9;
    /* --degrade: linear-gradient(to bottom, var(--roxo) 25%, var(--rosa-escuro), var(--laranja)) */
    --degrade: linear-gradient(to bottom, var(--roxo) 25%, var(--rosa-escuro));
    /* --degrade: var(--roxo); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.video {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--roxo);
  /* background-image:linear-gradient(to bottom, var(--branco), var(--roxo), var(--rosa-claro)); */
}

video {
  width: 100%;
  height: 90%;
  border-radius: 20px;
}
.parallax {
    margin: 0 auto;
    width: 100vw;
    height: 85%;
    background: url("../img/logo-branca.jpg") no-repeat center fixed;
    background-size: 100% 100%;
    /* background-size: contain; */
}

/* MUDANÇA DE TELAS */

.aparecer {
    animation: aparecer 1s linear;
}
@keyframes aparecer {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/*----- RODAPÉ -----*/
.contatos {
    width: 100%;
    background: var(--roxo);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
}

.contatos-redes {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
}

@media screen and (min-width: 900px) {
    main {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        
        "video sobre"
        "servicos servicos"
        "propostas propostas"
        "contatos contatos"
        
        ;
    }

    .video {
        grid-area: video;
        width: 100%;
    }
    .contatos {
        grid-area: contatos;
    }

    .parallax {
        margin: 0 auto;
        width: 100vw;
        height: 85%;
        background: url("../img/logo-branca.jpg") no-repeat center fixed;
        background-size: 100% 100%;
        /* background-size: contain; */
    }
}